.App {
  text-align: left;
  margin-left: 10px;
}

ul {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
	background:rgba(190,229,153,.8);
}

.AllPostsImageBox{
	display: inline-block;
	width: 200px;
	overflow: hidden;

}

.AllPostsDetailsBox {
	display: inline-block;
	width: 400px;
}


.Collapsible {
	background: purple;
	font-size: 24pt;
	color: white;
}

.Register {
	background: lavender;
}

.Login {
	background: lavender;
}

.CreatePost {
	background: pink;
}

.AllPosts {
	background: lightblue;
}

.viewButton {
	display: flex;
	align-self: right;
}

.PostShowPage {
	background: pink;
}

.EditPost {
	background: gray;
}

#Logout {
	background: white;
	
}


